.dd-select {
        border-radius: 2px;
        position: relative;
        cursor: pointer;
    }

    .dd-desc {
        color: #aaa;
        display: block;
        overflow: hidden;
        font-weight: normal;
        line-height: 1.4em;
    }

    .dd-selected {
        overflow: hidden;
        display: block;
        padding: 5px;
        font-weight: normal;
    }

    .dd-pointer {
        width: 0;
        height: 0;
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -3px;
    }

    .dd-pointer-down {
        border: solid 3px transparent;
        border-top: solid 5px #B1ABAB;
    }

    .dd-pointer-up {
        border: solid 3px transparent !important;
        border-bottom: solid 5px #B1ABAB !important;
        margin-top: -8px;
    }

    .dd-options {
        border: solid 1px #ccc;
        border-top: none;
        list-style: none;
        box-shadow: 0px 1px 5px #ddd;
        display: none;
        position: absolute;
        z-index: 2000;
        margin: 0;
        padding: 0;
        background: #fff;
        overflow: auto;
    }

    .dd-option {
        padding: 10px;
        display: block;
        border-bottom: solid 1px #ddd;
        overflow: hidden;
        text-decoration: none;
        color: #333;
        cursor: pointer;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
    }

    .dd-options>li:last-child>.dd-option {
        border-bottom: none;
    }

    .dd-option:hover {
        background: #f3f3f3;
        color: #000;
    }

    .dd-selected-description-truncated {
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .dd-option-selected {
        background: #f6f6f6;
    }

    .dd-option-image,
    .dd-selected-image {
        vertical-align: middle;
        float: left;
        margin-right: 5px;
        max-width: 64px;
    }

    .dd-image-right {
        float: right;
        margin-right: 15px;
        margin-left: 5px;
    }

    .dd-container {
        position: relative;
    }

    ​ .dd-selected-text {
        font-weight: bold
    }
     [data-columns]::before {
        display: block;
        visibility: hidden;
        position: absolute;
        font-size: 1px;
    }
    .gm-style {
        font: 400 11px Roboto, Arial, sans-serif;
        text-decoration: none;
    }
    .gm-style img {
        max-width: none;
    }
    .zarget-poll-window {
        all: initial;
        background: #fff !important;
        width: 300px !important;
        -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.6) !important;
        -moz-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.6) !important;
        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.6) !important;
        border: 1px solid rgba(0, 0, 0, 0.3) !important;
        display: block !important;
        padding: 2px;
        position: fixed;
        bottom: 0px;
        z-index: 9999999
    }

    .zarget-poll-window div,
    .zarget-poll-window span,
    .zarget-poll-window img,
    .zarget-poll-window ul,
    .zarget-poll-window li,
    .zarget-poll-window h1,
    .zarget-poll-window h2,
    .zarget-poll-window h3,
    .zarget-poll-window h4,
    .zarget-poll-window h5,
    .zarget-poll-window h6,
    .zarget-poll-window p,
    .zarget-poll-window a,
    .zarget-poll-window textarea,
    .zarget-poll-window label,
    .zarget-poll-window input[type="button"],
    .zarget-poll-window input[type="email"],
    .zarget-poll-window input[type="text"],
    .zarget-poll-window input[type="number"] {
        all: initial
    }

    .zarget-poll-window * {
        font-family: Arial, Helvetica, sans-serif !important;
        font-size: 12px !important;
        font-weight: normal !important;
        font-variant: normal !important;
        -webkit-font-smoothing: subpixel-antialiased !important;
        text-rendering: optimizeLegibility !important
    }

    .zarget-poll-window input[type="radio"],
    .zarget-poll-window input[type="checkbox"] {
        margin-right: 5px !important;
        width: 15px !important;
        height: 15px !important;
        background: #fff !important;
        cursor: pointer !important;
        display: inline-block !important;
        vertical-align: middle !important;
        border: 1px solid rgba(0, 0, 0, 0.3) !important;
        opacity: 1 !important
    }

    .zarget-poll-window input[type="radio"] {
        -webkit-border-radius: 50% !important;
        -moz-border-radius: 50% !important;
        border-radius: 50% !important;
        content: '' !important
    }

    .zarget-poll-window input[type="radio"]:checked {
        background: #fff !important;
        border: 4px solid #0190e2 !important
    }

    .zarget-poll-window input[type="checkbox"] {
        content: '' !important;
        -webkit-border-radius: 2px !important;
        -moz-border-radius: 2px !important;
        border-radius: 2px !important
    }

    .zarget-poll-window input[type="checkbox"]:checked {
        content: '' !important;
        background: #fff !important;
        border: 4px solid #0190e2 !important
    }

    .zarget-poll-window .active {
        display: block !important
    }

    .zarget-poll-window .inactive {
        display: none !important
    }

    .zarget-poll-window .zarget-poll-min-max {
        text-align: center !important;
        position: absolute !important;
        top: -19px !important;
        right: -1px !important;
        width: 40px !important;
        height: 16px !important;
        padding-top: 2px !important;
        cursor: pointer !important;
        -webkit-border-radius: 5px 5px 0 0 !important;
        -moz-border-radius: 5px 5px 0 0 !important;
        border-radiusus: 5px 5px 0 0 !important;
        background: #fff !important;
        border: 1px solid rgba(0, 0, 0, 0.3) !important;
        border-bottom: 0 solid !important;
        -webkit-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.3) !important;
        -moz-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.3) !important;
        box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.3) !important;
        text-align: center !important;
        -webkit-user-select: none !important;
        -moz-user-select: -moz-none !important;
        user-select: none !important;
        text-decoration: none !important
    }

    .zarget-poll-window .zarget-poll-min-max span {
        color: #000 !important;
        display: table !important;
        -moz-transform: rotate(-90deg) !important;
        -webkit-transform: rotate(-90deg) !important;
        transform: rotate(-90deg) !important;
        margin: 0 auto !important;
        cursor: pointer !important;
        -webkit-user-select: none !important;
        -moz-user-select: -moz-none !important;
        user-select: none !important
    }

    .zarget-poll-window .zarget-poll-title {
        display: block !important;
        padding: 20px 20px 20px 20px !important;
        font-weight: bold !important;
        line-height: 1.4em
    }

    .zarget-poll-window .zarget-poll-answers {
        display: block !important;
        padding: 0px 20px 20px 20px !important
    }

    .zarget-poll-window .zarget-poll-answers ul,
    .zarget-poll-window .zarget-poll-answers li {
        display: block !important
    }

    .zarget-poll-window .zarget-poll-answers ul {
        max-height: 190px !important;
        overflow-y: auto
    }

    .zarget-poll-window .zarget-poll-answers .zarget-single-select li,
    .zarget-poll-window .zarget-poll-answers .zarget-multi-select li {
        margin-bottom: 5px !important;
        background: rgba(255, 255, 255, 0.25) !important;
        -webkit-border-radius: 2px !important;
        -moz-border-radius: 2px !important;
        border-radius: 2px !important;
        padding: 3px 0px 3px 0px
    }

    .zarget-poll-window .zarget-poll-answers .zarget-single-select li label,
    .zarget-poll-window .zarget-poll-answers .zarget-multi-select li label {
        white-space: nowrap !important;
        overflow: hidden !important
    }

    .zarget-poll-window .zarget-poll-answers .zarget-single-select li label span::before,
    .zarget-poll-window .zarget-poll-answers .zarget-multi-select li label span::before {
        content: none
    }

    .zarget-poll-window .zarget-poll-answers .zarget-single-select input[type="radio"],
    .zarget-poll-window .zarget-poll-answers .zarget-single-select input[type="checkbox"],
    .zarget-poll-window .zarget-poll-answers .zarget-multi-select input[type="radio"],
    .zarget-poll-window .zarget-poll-answers .zarget-multi-select input[type="checkbox"] {
        margin: 0;
        margin-right: 5px !important
    }

    .zarget-poll-window .zarget-poll-answers .zarget-single-select span,
    .zarget-poll-window .zarget-poll-answers .zarget-multi-select span {
        cursor: pointer !important
    }

    .zarget-poll-window .zarget-poll-answers .zarget-single-select label,
    .zarget-poll-window .zarget-poll-answers .zarget-multi-select label {
        cursor: pointer !important;
        display: block !important;
        padding: 5px 3px 5px 10px !important
    }

    .zarget-poll-window .zarget-poll-answers .zarget-logtext-holder {
        display: table !important;
        width: 100% !important
    }

    .zarget-poll-window .zarget-poll-answers .zarget-logtext-holder .zarget-logtext {
        color: #000 !important;
        overflow: auto !important;
        resize: none !important;
        height: 120px !important;
        padding: 4px !important;
        width: 100% !important;
        background: #fff !important;
        -webkit-border-radius: 2px !important;
        -moz-border-radius: 2px !important;
        border-radius: 2px !important;
        border: 1px solid rgba(0, 0, 0, 0.2) !important;
        -webkit-box-sizing: border-box !important;
        -moz-box-sizing: border-box !important;
        box-sizing: border-box !important
    }

    .zarget-poll-window .zarget-poll-answers .zarget-shorttext-holder {
        display: table !important;
        width: 100% !important
    }

    .zarget-poll-window .zarget-poll-answers .zarget-shorttext-holder .zarget-shorttext {
        color: #000 !important;
        height: 30px !important;
        padding: 3px !important;
        width: 100% !important;
        background: #fff !important;
        margin-top: 25px !important;
        margin-bottom: 25px !important;
        -webkit-border-radius: 2px !important;
        -moz-border-radius: 2px !important;
        border-radius: 2px !important;
        border: 1px solid rgba(0, 0, 0, 0.2) !important;
        -webkit-box-sizing: border-box !important;
        -moz-box-sizing: border-box !important;
        box-sizing: border-box !important
    }

    .zarget-poll-window .zarget-poll-answers .zarget-description-holder {
        -webkit-box-sizing: border-box !important;
        -moz-box-sizing: border-box !important;
        box-sizing: border-box !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        display: none !important;
        position: relative
    }

    .zarget-poll-window .zarget-poll-answers .zarget-description-holder input.zarget-shorttext {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        -webkit-box-sizing: border-box !important;
        -moz-box-sizing: border-box !important;
        box-sizing: border-box !important
    }

    .zarget-poll-window .zarget-poll-answers .zarget-net-promoter {
        margin-top: 15px !important;
        margin-bottom: 30px !important;
        display: table !important;
        width: 100% !important
    }

    .zarget-poll-window .zarget-poll-answers .zarget-net-promoter .zarget-net-promoter-bg {
        background: #f2f2f2 !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        display: table !important;
        width: 100% !important
    }

    .zarget-poll-window .zarget-poll-answers .zarget-net-promoter ul li {
        border: 0px solid !important;
        display: inline-block !important;
        width: 20px !important;
        padding: 3px 0 3px 0 !important;
        margin: 0 !important;
        -webkit-border-radius: 2px !important;
        -moz-border-radius: 2px !important;
        border-radius: 2px !important;
        text-align: center !important;
        cursor: pointer
    }

    .zarget-poll-window .zarget-poll-answers .zarget-net-promoter ul li:hover {
        background: rgba(0, 0, 0, 0.2) !important
    }

    .zarget-poll-window .zarget-poll-answers .zarget-net-promoter .zarget-active,
    .zarget-poll-window .zarget-poll-answers .zarget-net-promoter .zarget-active:hover {
        background: #00cc66 !important;
        color: #fff !important
    }

    .zarget-poll-window .zarget-poll-answers .zarget-net-promoter .scrore-label-holder {
        margin-top: 10px !important;
        display: table !important;
        width: 100% !important
    }

    .zarget-poll-window .zarget-poll-answers .zarget-net-promoter .scrore-label-holder .zarget-fleft,
    .zarget-poll-window .zarget-poll-answers .zarget-net-promoter .scrore-label-holder .zarget-fright {
        width: 120px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-all;
        word-break: break-word
    }

    .zarget-poll-window .zarget-poll-answers .zarget-net-promoter .zarget-fleft {
        float: left !important
    }

    .zarget-poll-window .zarget-poll-answers .zarget-net-promoter .zarget-fright {
        float: right !important;
        text-align: right !important
    }

    .zarget-poll-window .zarget-thank-mgs-holder {
        padding: 20px 20px 20px 20px !important
    }

    .zarget-poll-window .zarget-thank-mgs-holder .zarget-thank-mgs-bg {
        display: block !important;
        background: rgba(0, 0, 0, 0.05) !important;
        padding: 20px !important;
        text-align: center !important
    }

    .zarget-poll-window .zarget-thank-mgs-holder .zarget-thank-mgs {
        display: block !important;
        font-weight: bold !important;
        text-align: center !important;
        margin-top: 20px !important;
        margin-bottom: 20px !important;
        word-wrap: break-word;
        -ms-word-break: break-all;
        word-break: break-word
    }

    .zarget-poll-window .zarget-thank-mgs-holder .zarget-thank-mgs-icon {
        display: table !important;
        margin: 0 auto !important;
        color: #00ca7d !important;
        -webkit-box-sizing: border-box !important;
        -moz-box-sizing: border-box !important;
        box-sizing: border-box !important;
        margin-bottom: 20px !important;
        text-align: center !important;
        font-size: 40px !important;
        width: 50px !important;
        height: 50px !important;
        padding-top: 6px !important;
        -webkit-border-radius: 50% !important;
        -moz-border-radius: 50% !important;
        border-radius: 50% !important
    }

    .zarget-poll-window .zarget-thank-mgs-holder .zarget-thank-button {
        display: block !important;
        text-align: center !important
    }

    .zarget-poll-window .zarget-thank-mgs-holder .zarget-thank-button button {
        background: #4b4b4b !important;
        color: #fff !important;
        border: 1px solid #4b4b4b !important;
        height: 29px !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
        -webkit-border-radius: 2px !important;
        -moz-border-radius: 2px !important;
        border-radius: 2px !important;
        cursor: pointer !important
    }

    .zarget-poll-window .zarget-thank-mgs-holder .zarget-thank-button button:focus {
        background: #4b4b4b !important;
        border: 1px solid #4b4b4b;
        color: #fff !important
    }

    .zarget-poll-window .zarget-thank-mgs-holder .zarget-thank-button button:hover {
        background: #262626 !important;
        border: 1px solid #262626 !important;
        color: #fff !important
    }

    .zarget-poll-window .zarget-poll-footer {
        display: block !important;
        padding: 5px 20px 20px 20px !important;
        overflow: auto !important
    }

    .zarget-poll-window .zarget-poll-footer .zarget-poll-powerdby {
        float: left !important;
        color: rgba(0, 0, 0, 0.54) !important;
        font-size: 10px !important;
        line-height: 28px !important
    }

    .zarget-poll-window .zarget-poll-footer .zarget-poll-powerdby a {
        color: rgba(0, 0, 0, 0.54) !important;
        font-size: 10px !important;
        cursor: pointer !important;
        text-decoration: underline !important
    }

    .zarget-poll-window .zarget-poll-footer .zarget-poll-powerdby a:hover {
        text-decoration: underline !important
    }

    .zarget-poll-window .zarget-poll-footer .zarget-poll-button {
        float: right !important
    }

    .zarget-poll-window .zarget-poll-footer .zarget-poll-button button {
        all: initial;
        background: #9f9f9f !important;
        border: 1px solid #9f9f9f !important;
        color: #000 !important;
        cursor: pointer !important;
        height: 28px;
        padding-right: 20px !important;
        padding-left: 20px !important;
        border-radius: 4px
    }

    .zarget-poll-window .zarget-poll-footer .zarget-poll-button button:hover {
        background: #4e4e4e !important;
        border: 1px solid #4e4e4e !important;
        color: #fff !important;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75) !important;
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75) !important;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75) !important
    }

    .zarget-poll-window .zarget-poll-footer .zarget-poll-button button.disabled {
        background: rgba(0, 0, 0, 0.2) !important;
        cursor: not-allowed !important;
        color: #000 !important;
        border: 1px solid rgba(0, 0, 0, 0.2) !important;
        opacity: .38
    }

    .zarget-poll-window .zarget-poll-footer .zarget-poll-button button.disabled:focus,
    .zarget-poll-window .zarget-poll-footer .zarget-poll-button button.disabled:hover {
        background: 0, 0, 0, 0.2 !important;
        color: #000 !important;
        border: 1px solid rgba(0, 0, 0, 0.2) !important;
        opacity: .38;
        box-shadow: none !important
    }

    .zarget-poll-window.left {
        left: 20px
    }

    .zarget-poll-window.right {
        right: 100px
    }

    @media only screen and (max-device-width: 720px) {
        .zarget-poll-window {
            width: 100% !important;
            left: 0 !important;
            bottom: 0 !important
        }
    }

    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
        .zarget-poll-window {
            width: 96% !important;
            left: 0 !important;
            right: 0 !important;
            bottom: 0 !important;
            margin-left: 2% !important;
            margin-right: 2% !important
        }
    }

    .zarget-poll-window.zarget-theme-skin1 {
        background: #fff9f6 !important;
        border: 1px solid #ff4d00 !important
    }

    .zarget-poll-window.zarget-theme-skin1 .zarget-poll-min-max {
        background: #fff9f6 !important;
        border: 1px solid #ff4d00 !important;
        border-bottom: 0 solid !important
    }

    .zarget-poll-window.zarget-theme-skin1 .zarget-poll-footer .zarget-poll-button button {
        background: #ff4d00 !important;
        color: #fff !important;
        border: 1px solid #ff4d00 !important
    }

    .zarget-poll-window.zarget-theme-skin1 .zarget-poll-footer .zarget-poll-button button:focus {
        background: #ff4d00 !important;
        border: 1px solid #ff4d00;
        color: #fff !important
    }

    .zarget-poll-window.zarget-theme-skin1 .zarget-poll-footer .zarget-poll-button button:hover {
        background: #cc3d00 !important;
        border: 1px solid #cc3d00 !important;
        color: #fff !important
    }

    .zarget-poll-window.zarget-poll-open {
        padding: 2px
    }

    .zarget-poll-window.zarget-poll-open .zarget-poll-container {
        display: block
    }

    .zarget-poll-window.zarget-poll-close {
        padding: 2px
    }

    .zarget-poll-window.zarget-poll-close .zarget-poll-container {
        display: none
    }

    .zarget-poll-window.zarget-poll-close .zarget-poll-min-max span {
        -moz-transform: rotate(90deg) !important;
        -webkit-transform: rotate(90deg) !important;
        transform: rotate(90deg) !important;
        margin-top: 2px !important
    }

    .zarget-poll-window.zarget-theme-skin3 {
        background: #2F2723 !important;
        border: 1px solid #2F2723 !important
    }

    .zarget-poll-window.zarget-theme-skin3 .zarget-poll-min-max {
        background: #2F2723 !important;
        border: 1px solid #2F2723 !important;
        border-bottom: 0 solid !important;
        color: #fff !important
    }

    .zarget-poll-window.zarget-theme-skin3 .zarget-poll-min-max span {
        color: #fff !important
    }

    .zarget-poll-window.zarget-theme-skin3 .zarget-poll-title,
    .zarget-poll-window.zarget-theme-skin3 .zarget-poll-answers .zarget-single-select span,
    .zarget-poll-window.zarget-theme-skin3 .zarget-poll-answers .zarget-multi-select span {
        color: #fff !important
    }

    .zarget-poll-window.zarget-theme-skin3 .zarget-thank-mgs-holder .zarget-thank-mgs {
        color: #fff
    }

    .zarget-poll-window.zarget-theme-skin3 .zarget-poll-answers .zarget-single-select li {
        background: rgba(255, 255, 255, 0.25) !important
    }

    .zarget-poll-window.zarget-theme-skin3 .scrore-label-holder .zarget-fleft,
    .zarget-poll-window.zarget-theme-skin3 .scrore-label-holder .zarget-fright {
        color: #fff !important
    }

    .zarget-poll-window.zarget-theme-skin3 .zarget-thank-mgs-holder .zarget-thank-mgs-bg {
        background: rgba(255, 255, 255, 0.2) !important
    }

    .zarget-poll-window.zarget-theme-skin3 .zarget-poll-footer .zarget-poll-powerdby {
        color: rgba(255, 255, 255, 0.54) !important
    }

    .zarget-poll-window.zarget-theme-skin3 .zarget-poll-footer .zarget-poll-powerdby a {
        color: rgba(255, 255, 255, 0.54) !important
    }

    .zarget-poll-window.zarget-theme-skin3 .zarget-poll-footer .zarget-poll-button button {
        background: #ff4d00 !important;
        color: #fff !important;
        border: 1px solid #ff4d00 !important
    }

    .zarget-poll-window.zarget-theme-skin3 .zarget-poll-footer .zarget-poll-button button:focus {
        background: #ff4d00 !important;
        border: 1px solid #ff4d00;
        color: #fff !important
    }

    .zarget-poll-window.zarget-theme-skin3 .zarget-poll-footer .zarget-poll-button button:hover {
        background: #cc3d00 !important;
        border: 1px solid #cc3d00 !important;
        color: #fff !important
    }

    .zarget-poll-window.zarget-theme-skin2 {
        background: #ff4d00 !important;
        border: 1px solid #ff4d00 !important
    }

    .zarget-poll-window.zarget-theme-skin2 .zarget-poll-min-max {
        background: #ff4d00 !important;
        border: 1px solid #ff4d00 !important;
        border-bottom: 0 solid !important;
        color: #fff !important
    }

    .zarget-poll-window.zarget-theme-skin2 .zarget-poll-title,
    .zarget-poll-window.zarget-theme-skin2 .zarget-poll-answers .zarget-single-select span {
        color: #fff !important
    }

    .zarget-poll-window.zarget-theme-skin2 .zarget-thank-mgs-holder .zarget-thank-mgs {
        color: #fff
    }

    .zarget-poll-window.zarget-theme-skin2 .zarget-poll-answers .zarget-single-select li {
        background: rgba(255, 255, 255, 0.25) !important
    }

    .zarget-poll-window.zarget-theme-skin2 .zarget-poll-powerdby {
        color: rgba(255, 255, 255, 0.54) !important
    }

    .zarget-poll-window.zarget-theme-skin2 .zarget-poll-powerdby a {
        color: rgba(255, 255, 255, 0.54) !important
    }

    .zarget-poll-window.zarget-theme-skin2 .zarget-poll-footer .zarget-poll-button button {
        background: #fff !important;
        color: ff4d00 !important;
        border: 1px solid #ff4d00 !important
    }

    .zarget-poll-window.zarget-theme-skin2 .zarget-poll-footer .zarget-poll-button button:focus {
        background: #ff4d00 !important;
        border: 1px solid #ff4d00;
        color: #fff !important
    }

    .zarget-poll-window.zarget-theme-skin2 .zarget-poll-footer .zarget-poll-button button:hover {
        background: #cc3d00 !important;
        border: 1px solid #cc3d00 !important;
        color: #fff !important
    }

    .zarget-poll-window .zarget-poll-answers .zarget-single-select li label span,
    .zarget-poll-window .zarget-poll-answers .zarget-multi-select li label span {
        width: 220px !important;
        overflow-wrap: break-word !important;
        word-wrap: break-word !important;
        -ms-word-break: break-all !important;
        word-break: break-all !important;
        -ms-hyphens: auto !important;
        -moz-hyphens: auto !important;
        -webkit-hyphens: auto !important;
        hyphens: auto !important;
        display: inline-block !important;
        line-height: 15px !important;
        vertical-align: top
    }