@font-face {
    font-family: 'HelveticaNeueLTComTh';
    src: url('../fonts/HelveticaNeueLTComTh.eot');
    src: url('../fonts/HelveticaNeueLTComTh.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueLTComTh.woff2') format('woff2'),
         url('../fonts/HelveticaNeueLTComTh.woff') format('woff'),
         url('../fonts/HelveticaNeueLTComTh.ttf') format('truetype'),
         url('../fonts/HelveticaNeueLTComTh.svg#HelveticaNeueLTComTh') format('svg');
}
@font-face {
    font-family: 'helr45w';
    src: url('../fonts/helr45w.eot');
    src: url('../fonts/helr45w.eot') format('embedded-opentype'),
         url('../fonts/helr45w.woff2') format('woff2'),
         url('../fonts/helr45w.woff') format('woff'),
         url('../fonts/helr45w.ttf') format('truetype'),
         url('../fonts/helr45w.svg#helr45w') format('svg');
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
body {
    font-family: arial;
    background-color: #fff;
}
a {
	color: #31383e;
    outline: none !important;
}
a:hover,
a:focus{
    text-decoration: none;
}
.page-container{
	width: 100%;
	padding: 0;
}
.form-container{
	background-color: #F0F0F0;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
	margin-top: -75px;
	margin-bottom: 15px;
	padding: 0 0 15px 0;
}


.form-title{
	padding: 15px 0;
	color: #31383e;
}
.form-row{
	padding-top: 10px; 
}
.custom-form-control{
	border-radius: 0;
}
.custom-form-control:focus{
	box-shadow: none !important;
}
.onoffswitch-label,
.onoffswitch-switch {
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.onoffswitch-switch {
    width: 16px;
}
.custom-bordered-btn{
    padding: 6px 12px;
    background-color: #F8F8F8;
    color: #242021 !important;
    border: 1px solid #ccc;
    margin: 15px 10px;
    border-radius: 0;
}
.custom-bordered-btn span{
    padding-right: 6px;
}
.custom-bordered-btn:hover,
.custom-bordered-btn:focus{
    color: #242021;
    background-color: #F0F0F0;
}
.custom-btn{
    border-radius: 0;
    background-color: #fff;
    color: #31383E;
    margin-right: 10px;
    margin-bottom: 10px;
    min-width: 125px;
}
.custom-submit-btn{
    background-color: #31383E;
    color: #fff;
}
.custom-submit-btn:hover,
.custom-submit-btn:focus{
    color: #fff;
}
.login_btn button {
    width: 100% !important;
    max-width: 125px;
    border-radius: 0;
    color: #fff;
    border: 0;
    margin-bottom: 10px;
    -webkit-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    transition: all 900ms ease;
}
.login_btn button:hover {
    -webkit-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    transition: all 900ms ease;
}
.form-three-container{
    font-family: 'helr45w' !important;
    color: #333 !important;
}
.form-three-container a,
.custom-bordered-btn{
    color: #333 !important;
}
.form-three-container .onoffswitch-inner::before,
.form-three-container .login_btn button{
    background-color: #e44e43;
}

/* ---- demo table css ---- */
.table-container{
    padding: 0 25px;
}
.table-wrapper{
    padding: 0;
}
.table-bg{
    background-color: #F8F8F8 !important;
}
.table-title{
    padding: 15px 25px;
    color: #333;
}
.bg-color {
    /*background-color: #acbeea;*/
}
.custom-table {
    margin-bottom: 0;
}
.custom-table th,
.custom-table td {
    padding: 12px 10px !important;
}
.custom-table a{
    color: #333;
}
.custom-table a:hover,
.custom-table a:focus{
    color: #333;
}
.table-checkbox{
    margin: 0;
}