.reset_links{
    margin: 90px 0px 0px;
    color: #fff;
    text-align: center;
}
p.errmsg {
    color: #ff0000 !important;
    font-size: 14px;
    width: 100%;
    margin-top: -5px;
}
span.error{
  float: left;
  width: 100%;
  color: #ff0000;
  font-size: 12px;
  padding: 0;
  margin: 10px 0px;
  letter-spacing: 0.2px;
}
.reset_links a {
    color: #fff;
    text-decoration: underline;
    margin-right: 20px;
    -webkit-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    transition: all 900ms ease;
}
.reset_links a:hover {
    color: #ccc;
    -webkit-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    transition: all 900ms ease;
}

.reset_box_wrap {
    position: relative;
    top: 25%;
    /*margin-top: 180px; */
    height: 225px;
}
.reset_box_wrap h1{
    text-align: center;
    color: #fff;
}
.reset_box_wrap form.form{
    margin: 90px 0px 0px;
}
.reset-form-wrap {
    margin: 0px auto;
    position: relative;
    width: 40%;
}

@media screen and (max-width: 1200px){
   .reset-form-wrap{
         width: 50%;
   }
   .logo-wrapper{
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 991px){
    .reset-form-wrap{
        width: 65%;
    }

}

@media screen and (max-width: 767px){
    .reset-form-wrap{
        width: 70%;
    }
    p.errmsg {
        color: #ff0000 !important;
        font-size: 13px;
        margin-top: -5px;
        padding-left: 0px;
    }
}
@media screen and (max-width: 640px){
    .reset_box_wrap{
        /*margin-top: 40px;*/
    }
    .reset_box_wrap form.form{
        margin-top: 60px;
    }
    .reset_links{
        margin-top: 60px;
    }
    .reset_box_wrap h1{
        font-size: 34px;
    }
}
@media screen and (max-width: 480px){
    .reset-form-wrap{
        width: 90%;
    }    
    .reset_box_wrap{
        /*margin-top: 48px;*/
    }
    .reset_box_wrap form.form{
        margin-top: 30px;
    }
    .reset_links{
        margin-top: 30px;
    }
    p.errmsg {
        font-size: 13px;
    }
    .reset_box_wrap h1{
        font-size: 30px;
    }
}
@media screen and (max-width: 360px){
    .reset_box_wrap{
        /*margin-top: 135px;*/
    }
    .reset_box_wrap form.form{
        margin-top: 60px;
    }
    .reset_links{
        margin-top: 60px;
    }
    .reset_box_wrap h1{
        font-size: 26px;
    }
}
@media screen and (max-width: 320px){
    .reset_box_wrap{
        /*margin-top: 85px;*/
    }
    .reset_box_wrap form.form{
        /*margin-top: 60px;*/
    }
    .reset_links{
        /*margin-top: 60px;*/
    }
}