.head-select{
  float: right;
  margin: 12px 10px 0px;
}
.status-paynow-label{
  padding-top: 7px;
  padding-bottom: 7px;
}
.flex{
  display: flex !important;
}
.p-none{
  padding: 0px !important;
}
.p-r-none{
  padding-right: 0px !important;
}
.m-b-20{
  margin-bottom: 20px;
}
.total {
  border-top: 1px solid #f16058 !important;
}
.border-none{
  border: 0px !important;
}
.color-red{
  color: #f16058;
}
.text-right{
  text-align: right !important;
}
.text-left{
  text-align: left !important;
}
.font-normal{
  font-weight: normal !important;
}
.gardian-wrap,.document-wrap{
  padding-right: 0px;
}
.column-two{
  width: 50% !important;
}
.action-wrap{
  background-color: #f8f8f8;
  padding: 15px;
  float: left;
  width: 100%;
  border: 1px solid #ccc;
  border-top: none;
}
.form-pay-now{
  float: right;
  margin-top: 15px;
  /*width: 100%;*/
  text-align: right;
}
.pay-detail{
  position: relative;
}
/*.form-pay-now .form-input .form-group{
  margin-bottom: 0px;
}*/
.form-pay-now .form-input{
  float: right;
  /*padding-right: 20px;*/
  width: 125px;
}
.btn-pay-now{
  float: right;
}
.credit-label{
  float: left;
  padding-top: 3px;
  vertical-align: middle;
  text-align: right;
  width: auto;  
  padding-right: 15px;
}
.credit-label h5{
  margin-top: 6px;
  font-size: 16px;
}
.balance-table >thead > tr > th{
  width: 14%;
}
.balance-table >tbody >tr > td {
  vertical-align: middle;
}
.balance-table >tbody >tr > td > a{
  text-decoration: underline;
}
.balance-table >tbody >tr > td > a:hover{
  text-decoration: none;
}
.balance-table >tbody >tr > td .form-group{
  width: 70% ;
  text-align: center;
  margin: 0px;
}
.primary-section{
  margin-top: 20px
}
.section-details{
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
.detail-wrapper{
  float: left;
  width: 100%;
  position: relative;
  background-color: #fff;
  border-radius: 0px;
  border:1px solid #f1f1f1;
  padding: 25px 10px;
}

.basic-detail-list{
  float: left;
  width: 100%;
  list-style: none;
  margin: 0px;
  padding: 10px 0px;  
}
.guardian-detail-list{
  list-style: none;
  margin: 0px;
  padding: 10px 0px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}
.guardian-detail-list li{
  display: inline-block;
  padding: 10px 0px;
  width: 100%;
}
.basic-detail-list li{
  display: block;
  float: left;
  width: 100%;
  padding: 10px 0px;
}
.basic-detail-list li .caption,
.guardian-detail-list li .caption{  
  text-align: right;
  font-size: 14px;
}
.basic-detail-list li .caption i,
.guardian-detail-list li .caption i{
    padding: 0px 10px;
    font-size: 14px;
}
.basic-detail-list li .caption span,
.guardian-detail-list li .caption span{
  text-align: right;
  float: right;
  padding-right: 7px;
}
.basic-detail-list li .caption-data,
.guardian-detail-list li .caption-data{
  font-weight: 600;
  font-size: 14px;
  text-align: left; 
}

img.user-avtar{
  width: 160px;
  text-align: center;
  border-radius: 50%;
  margin: 0px auto;
  float: left;
}
.pending-fees-wrap{
  float: left;
  width: 100%;
  text-align: center;
}
.pending-fees{
  float: left;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.user-name,.student-name{
  font-size: 42px;
  margin-top: 50px;
  vertical-align: middle;
}
.detail-wrap{
  margin-top: 10px;
  background-color: #fff;
}
.detail-title{
  width: 100%;
  background-color: #e4e4e4;
  padding: 10px;
  text-align: left;
}
.detail-title > h3{
  margin: 10px 0px;
}
.detail-title > h3 > span{
  padding: 10px;
}
.detail-title > h3 > span.edit-icon-right{
  float: right;
  padding: 0px 10px 0px 0px;
}
.contact-list-data,.guardian-list-data{
  width: 50% !important;
  padding: 0px 10px;
  float: left;
  position: relative;
}
.guardian-fixed-height-wrap{
  height: 368px;
}
.document-fixed-height-wrap{
  height: 272px;
  overflow-y:auto; 
}
.doc-label{
  padding: 5px 15px;
  text-align: center;
  min-width: 65px;
  display: inline-block;
}
.doc-link{
  text-decoration: underline;
}
.doc-link:hover{
  text-decoration: none;
}
span.error {
    float: left;
    text-align: left;
    width: 100%;
    color: #ff0000;
    font-size: 11px;
    padding: 0;
    margin: 0;
    letter-spacing: 0.2px;
}


/*************************/
/*      Media Query      */
/*************************/
@media screen and (max-width: 1199px){
  .gardian-wrap,.document-wrap{
    padding-right: 15px;
  }
  .contact-wrap{
    padding-right: 0px;
  }
  .guardian-fixed-height-wrap{
    height: auto;
  }
  .document-fixed-height-wrap {
    height: 280px;
  }
}
@media screen and (max-width: 1024px){
  .document-fixed-height-wrap {
      height: 280px;
  }
}
@media screen and (max-width: 991px){
  .student-name {
    font-size: 28px;
    margin-top: 38px;
  }
  .document-fixed-height-wrap {
      height: 300px;
  }
}
@media screen and (max-width: 768px){
  .column-two{
    width: 100% !important;
  }
  .user-name {
    margin-top: 22px;
  }
  
  .left-child{
    padding-right: 15px;
  }
  .balance-detail-list{
    padding: 0px;
  }
    .document-fixed-height-wrap {
      height: auto;
  }
}

@media screen and (max-width: 736px){
  .guardian-detail-list{
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media screen and (max-width: 736px){
  .student-name {
      font-size: 46px;
      margin-top: 50px;
  }
}
@media screen and (max-width: 640px){
  .user-name {
    font-size: 42px;
    margin-top: 54px;
  }
  
}
@media screen and (max-width: 560px){
  .user-name {
    font-size: 36px;
    margin-top: 25px;
  }
  /*.pay-detail{
    float: left;
  }
  .credit-label {
    text-align: left;
  }*/
}
@media screen and (max-width: 480px){
  .user-name {
    font-size: 30px;
    margin-top: 42px;
  }
  .student-name {
    margin-top: 28px;
  }

  .form-pay-now{
    float: left;
    width: 100%;
  }
  .pay-detail {
    width: 100%;
  }
  .form-pay-now .form-input{
    /*padding-right: 10px;*/
    float: left;
    width: 100%;
  }
  .credit-label {
    text-align: left;
    width: 100%;
}
@media screen and (max-width: 375px){
  .student-name {
    margin-top: 20px;
    font-size: 28px;
  }
}

@media screen and (max-width: 360px){
  .user-name {
    font-size: 28px;
    margin-top: 15px;
  }
  .student-name {
      margin-top: 22px;
  }
  .pending-fees-wrap{
    /*padding: 0px !important;*/
  }
  .detail-wrapper,.student-header{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
  }
  .basic-detail-list li .caption span, .guardian-detail-list li .caption span{
    padding-right: 0px;
  }
}
@media screen and (max-width: 320px){
  .user-name {
    font-size: 20px;
  }
  .basic-detail-list li .caption i,
  .guardian-detail-list li .caption i{
      padding-left: 0px;
      font-size: 14px;
  }
  
  .pending-fees{
    font-size: 15px;
    font-weight: 600;
  }
  .detail-title > h3 {
    font-size: 20px;
  }
}